.search-result {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e9edf2;
  text-align: left;
  position: relative;
  .audio-wrapper {
    position: absolute;
    height: 35px;
    bottom: 24px;
    right: 0;
    width: calc(100% - 88px - 23px);
    audio {
      transform: scale(0.65);
      transform-origin: top left;
      width: 153.846%;
      background-color: #F3F3F3;
      border-radius: 8px;
    }
  }

  .meta-data {
    flex: 1;
    margin-left: 24px;
    h3 {
      margin-top: 2px;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 16px;
    }
    h4 {
      margin-top: 0;
      color: #939393;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
